AIRTABLE_API_BASE="https://api.airtable.com/v0"
AIRTABLE_CONTENT_BASE=
# Generate it at https://airtable.com/create/tokens
AIRTABLE_AUTH_TOKEN=
AIRTABLE_BASE_ID=
AIRTABLE_INV_TAB_ID=
AIRTABLE_ZONE_TAB_ID=
AIRTABLE_ENO_TAB_ID=
AIRTABLE_ENO_REC_ID_TEST=
AIRTABLE_WINE_LIST_TAB_ID=
AIRTABLE_PDF_FIELD_ID=
AIRTABLE_OUT_TAB_ID=


PUPPETEER_CACHE_DIR=/opt/render/project/src/.cache/puppeteer
PUPPETEER_CHROME_BUILD_ID = 131.0.6778.204
