<!doctype html>
<html lang="it">

<head>
  <meta charset="utf-8" />
  <title>{{meta.ref}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../assets/styles.css" />

  <style>
    @page {
      size: A4;
      margin: 0;
    }
    body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body class="menu-doc">
  {{> cover}}
</body>

</html>
